/* GENERAL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
	background: #313337;
	font-family: 'Open Sans', sans-serif;
}

header, section {
	background: #fff;
}

section {
	border-radius: 4px;
	box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.75);
	height: 20rem;
	padding: 1% 5%;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1.5% 2%;
  height: 5rem;
}

h1 {
	margin-bottom: 2%;
}

span {
	color: #f47517;
	font-weight: lighter;
}

div {
	display: flex;
	justify-content: flex-start;
	width: 18%;
}

img {
	height: 3rem;
	margin-top: -5%;
	width: auto;
}

h2 {
	margin-left: 8%;
}

/* STYLING FOR MAIN */

main {
	display: grid;
  grid-gap: .5% 1.5%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"user-info activity-today friends"
		"water-week water-week friends"
		"sleep-week sleep-week water-today"
		"sleep-today community community"
		"all-steps activity-week .";

	margin-top: 3%;
	padding: 0 2%;
};

/* STYLING FOR CARDS ON MAIN */

.user-info {
	grid-area: user-info;
}

#activities {
	grid-area: activity-today;
}

#friend-rankings {
	grid-area: friends;
	height: 42.5rem;
}

#water-over-a-week {
	grid-area: water-week;
}

#sleep-data-over-a-week {
	grid-area: sleep-week;
}

#user-sleep-data {
	grid-area: sleep-today;
}

#activity-community-comparison {
	grid-area: community;
}

#days-exceeding-all-steps {
	grid-area: all-steps;
	width: 140%;
  overflow: scroll;
}

#activities-over-week {
	grid-area: activity-week;
	margin-left: 40%;
	width: 165%;
}
