/* GENERAL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background: #313337;
	font-family: 'Open Sans', sans-serif;
}

header, section {
	background: #fff;
}

section {
	border-radius: 4px;
	box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.75);
	height: 20rem;
	padding: 2% 8%;
}

/*  STYLING FOR HEADER */

header {
	display: flex;
	justify-content: space-between;
	padding: 1.5% 2%;
  height: 5rem;
}

h1 {
	margin-bottom: 2%;
}

span {
	color: #f47517;
	font-weight: lighter;
}

div {
	display: flex;
	justify-content: flex-start;
	width: 18%;
}

.header-user-name {
  margin-top: .5%;
}

img {
	height: 3rem;
	margin-top: -5%;
	width: auto;
}

h2 {
  font-size: 1.1em;
	margin-left: 8%;
}

/* STYLING FOR MAIN */

main {
	display: grid;
  grid-gap: .5% 1.5%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"user-info activity-today friends"
		"water-week water-week friends"
		"sleep-week sleep-week water-today"
		"sleep-today community community"
		"all-steps activity-week .";

	margin-top: 3%;
	padding: 0 2%;
};


/* STYLING FOR CARDS ON MAIN */

.user-info {
	grid-area: user-info;
}

.user-info img {
  height: 5em;
  margin-top: 2%;
  width: 9em;
}

.user-info h3,
#activities-over-week h3 {
  color: #f47517;
  font-size: 1.3em;
  font-style: italic;
  margin: -9% 0 0 30%;
}

#user-id {
  margin: 2% 0 0 12%;
}

.address-info,
.stride-length,
.step-goal {
  display: flex;
  font-size: .95em;
  justify-content: space-between;
  margin: 3% 0;
  width: 70%;
}

#placeholder-icon,
#target-icon,
#stride-length-icon {
  height: 2em;
  margin-right: 7%;
  width: 2em;
}

.step-goal {
  margin-left: -2%;
  width: 100%;
}

.stride-length {
  width: 46%;
}

#activities {
	grid-area: activity-today;
}

#friend-rankings {
  background: url('../assets/gold-medal.svg') 20px 95px/ 60px auto no-repeat white;
	grid-area: friends;
	height: 42.5rem;
}

#friend-rankings h3 {
  color: #f47517;
  font-size: 2em;
  margin-bottom: 10%;
  text-align: center;
}

#friend-rankings p {
  font-size: 1em;
  margin: 2% 0 0 15%;
}

#friend-rankings p span {
  font-style: italic;
}

#water-over-a-week {
	grid-area: water-week;
}

#water-consumed {
  grid-area: water-today;
}

#water-consumed h3,
#water-consumed p {
  font-size: 1.3em;
  text-align: center;
}

#water-consumed img {
  height: 50%;
  margin: 5% 0 5% 30%;
  width: auto;
}

#water-consumed p {
  font-size: 1.2em;
}

#sleep-data-over-a-week {
	grid-area: sleep-week;
}

#user-sleep-data h3 {
  color: #f47517;
  font-size: 2em;
  font-style: italic;
}

#user-sleep-data {
  background: url('../assets/014-sleep.svg') bottom center/ 180px auto no-repeat white;
	grid-area: sleep-today;
  text-align: center;
}

#user-sleep-data p {
  margin: 1% 0;
}

#user-sleep-data p span {
  font-weight: bold;
}

#activity-community-comparison {
  background: url('../assets/016-group-of-people.svg') right center/ 200px auto no-repeat white;
	grid-area: community;
}

#activity-community-comparison h3 {
  color: #f47517;
  font-size: 1.6em;
  margin-bottom: 6%;
}

#activity-community-comparison p {
  font-size: 1.4em;
  margin: 2% 0;
}

#activity-community-comparison p span {
  color: cornflowerblue;
  font-weight: bold;
}


#days-exceeding-all-steps {
	grid-area: all-steps;
	width: 140%;
  overflow: scroll;
}

#activities-over-week {
	grid-area: activity-week;
	margin-left: 40%;
  padding: 5% 10%;
	width: 165%;
}

#activities-over-week h3 {
margin: 0;
}

#activities-over-week #display-activities-over-week {
  display: flex;
  justify-content: space-around;
  margin-top: 4.5%;
  height: 80%;
  width: 100%;
}

#display-activities-over-week div {
  display: flex;
  flex-direction: column;
  font-size: 1.01em;
  padding: 6%;
  text-align: center;
  width: 30%;
}

#display-activities-over-week img {
  width: 5em;
  height: 5em;
  margin-left: 10%;
  margin-bottom: 20%;
}

#display-activities-over-week img:last {
  margin-bottom: 30%;
}
